<div class="login-box-wrapper">
  <div class="login-box">
    <div class="header">Login</div>
    <form class="login-info" (ngSubmit)="onSubmit()">
      <input
        type="text"
        name="email"
        placeholder="Email"
        [(ngModel)]="user.email"
      />
      <input
        type="password"
        name="password"
        placeholder="Password"
        [(ngModel)]="user.password"
      />
      <div *ngIf="error">
        <small class="error">
          {{ error }}
        </small>
      </div>
      <div class="text-center">
        <button class="login-btn" (submit)="onSubmit()">LOGIN</button>
      </div>
    </form>
  </div>
</div>
